* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.ProseMirror:focus {
  outline: none;
}

.ProseMirror p::before {
  content: attr(data-placeholder);
  color: #bdbdbd;
  pointer-events: none;
  height: 0;
  display: block;
}
