* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.ProseMirror:focus {
  outline: none;
}

.ProseMirror p::before {
  content: attr(data-placeholder);
  color: #bdbdbd;
  pointer-events: none;
  height: 0;
  display: block;
}

.tiptap:first-child {
  margin-top: 0;
}
.tiptap blockquote {
  border-left: 3px solid #e0e0e0;
  margin: 1.5rem 0;
  padding-left: 1rem;
}
.tiptap ul,
ol {
  padding: 0 1rem;
  margin: 1.25rem 1rem 1.25rem 0.4rem;

  li p {
    margin-top: 0.25em;
    margin-bottom: 0.25em;
  }
}
.tiptap img {
  display: block;
  height: auto;
  margin: 1.5rem 0;
  max-width: 100%;

  &.ProseMirror-selectednode {
    outline: 3px solid var(--purple);
  }
}
